$color-bg: #FF78F0;
$color-container: white;
$color-board: #A41ACB;

$color-primary: #39B5E0;
$color-secondary: #A31ACB;
$color-secondary-darker: #510d65;
$color-secondary-lighter: #FF78F0;
$color-contrast: #F5EA5A;

$color-player1: $color-primary;
$color-player2: $color-secondary-lighter;

$color-mark-hover: #B0B0B088;
$lower-height: 5px;
$raise-height: calc($lower-height * -1);

$shadow-text-h1: 0px 7px 0px $color-contrast;
$shadow-button: 0px $lower-height 0px 0px $color-secondary-darker;

$radius: 16px;

@mixin rounded {
    border-radius: $radius;
}

