@use 'constants' as *;
@use 'reset';

h1 {
    font-size: 4rem;
    color: $color-primary;
    text-shadow: $shadow-text-h1;
}

body {
    background-color: $color-bg;
    height: calc(100vh - 2rem);
    display: grid;
    place-items: center;
    font-family: 'Concert One', sans-serif;
    
    .container {
        margin: 0 auto;
        text-align: center;
        background-color: $color-container;
        padding: 32px;
        @include rounded;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .board {
            background-color: $color-board;
            margin: 0 auto;
            width: 400px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 10px;

            .cell {
                background-color: $color-container; 
                aspect-ratio: 1 / 1;
                padding: 4px;
                display: grid;
                place-items:center;
                transition: transform 150ms;

                &.turn-cross:hover::after {
                    content: url('../assets/cross.svg');
                    transform:translate($raise-height, $raise-height);
                    filter: drop-shadow(3px 7px 0 $color-mark-hover);
                }
                
                &.turn-circle:hover::after {
                    content: url('../assets/circle.svg');
                    transform:translate($raise-height, $raise-height);
                    filter: drop-shadow(3px 7px 0 $color-mark-hover);
                }
            }

            .cross::before {
                content: url('../assets/cross.svg');
            }

            .circle::before {
                content: url('../assets/circle.svg');
            }
        }

        footer {
            height: 3rem;
            display: flex;
            justify-content: space-around;
            align-items: center;

            font-size: 2.5rem;
        }
    }
    
}

button {
    font-size: 2rem;
    font-family: inherit;
    padding: 8px 10px;
    border-radius: calc($radius / 2);
    border: none;
    color: white;
    background-color: $color-secondary;
    box-shadow: $shadow-button;

    &:active {
        transform: translatey($lower-height);
        box-shadow: none;
    }
}




